fastapi
uvicorn[standard]
python-multipart
PyPDF2
PyMuPDF
pdfplumber
opencv-python-headless
pytesseract
Pillow
numpy
pydantic
sqlalchemy
pydantic-settings
pydantic[email]
thefuzz
python-Levenshtein
pyjarowinkler
httpx
reportlab
